@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan CSS ini di file CSS Anda */
.container{
  max-width: 1200px !important;
}
.banner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.banner-image {
  width: 100%;
  height: auto;
}

.firefly-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Tambahkan ini ke file CSS Anda */
.firefly {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
  animation: fireflyAnimation linear infinite;
}
.bg-groom{
  background-image: url(../../public/bg-2.png);
  background-position: center center;
  background-size: cover;

}
.bg-gallery{
  background-image: url(../../public/bg-1.png);
  background-position: center center;
  background-size: cover;
}
.bg-map{
  background-image: url(../../public/banner-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-flower{
  background-image: url(../../public/bg-flower.jpg);
  background-position: center center;
  background-size: cover;
}
.img-lakik,
.img-women{
  width: 300px;
  height: auto ;
  margin: 0 auto;
}
.upper-grid{
  margin-top: -210px;
  margin-bottom: 135px;
}

@keyframes fireflyAnimation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(100px, -50px) scale(0.5);
    opacity: 0;
  }
}
