@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan CSS ini di file CSS Anda */
.container{
  max-width: 1200px !important;
}
.banner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.banner-image {
  width: 100%;
  height: auto;
}

.firefly-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Tambahkan ini ke file CSS Anda */
.firefly {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
  animation: fireflyAnimation linear infinite;
}

.bg-map{
    background-image: url(../../public/bg-cb.png);
    background-color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bg-groom{
  background-image: url(../../public/bg-coba.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-gallery{
  background-image: url(../../public/bg-coba2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-lakik,
.img-women{
  width: 300px;
  height: auto ;
  margin: 0 auto;
}
.canvas-gallery {
  width: 620px !important;
}
.upper-grid{
  margin-top: -210px;
  margin-bottom: 135px;
}
@font-face {
  font-family: 'Cardo';
  src: url('../../public/Cardo-Regular.ttf') format('truetype');
  /* Tambahkan format font lain jika diperlukan */
}

.custom-text {
  font-family: 'Cardo', sans-serif;
}

@keyframes fireflyAnimation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(100px, -50px) scale(0.5);
    opacity: 0;
  }
}
